
#Header {
    color:transparent;
    text-align: center;
    background-color: green;
}
#Navigation {
    color: ghostwhite;
    background-color: black;
}
.Blocks {
    color:black;
    background-color: lightslategray;
    border-left: 5px double darkgreen;
}

body {
    background-image: url("./media/bg.png");
}