
#Header {
    color:black;
    font-style: oblique;
    text-align: center;
    background-color: green;
}
#Navigation {
    color: ghostwhite;
    background-color: black;
}
.Blocks {
    color:black;
    background-color: lightslategray;
    border-left: 5px double darkgreen;
}
body {
    background-image: url("./media/bg.png");
    font-family: sans-serif;
}
#Links {
    background-color:black;
    border-width: 2px;
    border-style: solid;
    border-color:darkgreen;
    border-radius:4px;
    margin:auto; 
    vertical-align: top;
}