
.ListItem a{
    display: inline;
    background-color: lightslategrey;
    color: darkgreen
}
.ListItem a:hover {
    background-color: limegreen;
    color: black;
}
#Links {
    background-color: lightslategrey;
    border-style: solid;
    border-width: thin;
    border-radius:1rem;
    border-color:green;
}
#Header {
    background-color: green;
    color:whitesmoke;
    font-size: 120%;
}
body {
    background-image: url("./media/bg.png");
    font-family: Verdana, sans-serif;
    font-size: 100%;
    color:black;
}
